@import "../scss/Breakpoints2.scss";
//Defined variables
$bgcolor: #1e1e1e;
$textcolor: #d9d9d9;
$textcolor2: rgba(138, 0, 0, 1);
$fontfamily: "Inter";

#Abouts {
  background-color: $textcolor;
  height: 39.5rem;
  color: $bgcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  padding-left: 5px;
  padding-right: 5px;

  @include xxs {
    height: 45.5rem;
  }
  @include xs {
    height: 45.4rem;
  }
  @include sm {
    height: 51.9rem;
  }
  @include md {
    height: 53rem;
  }
  @include lg {
    height: 38.4rem;
  }
  @include xl {
    height: 39.5rem;
  }
  @include xxl {
    height: 40.5rem;
  }

  .Title {
    font-family: $fontfamily;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 3vw;
      font-weight: 800;
      margin-bottom: 0;

      @include xxs {
        font-size: 25px;
      }
      @include xl {
        font-size: 2.75rem;
      }
    }
    hr {
      border: 2px solid $textcolor2;
      width: 130px;
      opacity: 100%;
      margin: 0;
    }
  }

  .dark {
    height: 410px;
    width: 100%;
    background-color: $bgcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;

    @include xxs {
      margin-top: 3rem;
      border-radius: 30px;
      flex-direction: column;
    }
    @include md {
      margin-top: 5rem;
      height: 510px;
    }
    @include lg {
      padding: 10px 0;
      margin-top: 0;
      flex-direction: row;
    }

    .Picture2nd {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include md {
        top: -50px;
      }

      img {
        position: relative;
        aspect-ratio: 1;
        width: 475px;
        border-radius: 50%;
        border: 40px solid $bgcolor;
        margin-right: 4rem;

        @include xxs {
          border: 20px solid $bgcolor;
          width: 200px;
          margin: 0;
        }
        @include lg {
          width: 310px;
        }
        @include xl {
          width: 400px;
          margin-right: 20px;
        }
        @include xxl {
          position: relative;
          aspect-ratio: 1;
          width: 475px;
          border-radius: 50%;
          border: 40px solid $bgcolor;
          margin-right: 4rem;
        }
      }
    }

    //Intro
    .Intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $textcolor;

      @include xxs {
        position: relative;
        top: -37px;
      }

      h3 {
        font-family: $fontfamily;
        font-weight: 800;
        line-height: 80px;

        @include xxs {
          font-size: 17px;
          margin-bottom: 0;
          line-height: 43px;
        }
        @include xs {
          font-size: 20px;
        }
        @include sm {
          font-size: 23px;
        }
        @include lg {
          font-size: 30px;
          line-height: 55px;
        }
        @include xxl {
          font-size: 1.75rem;
        }
      }

      p {
        font-family: $fontfamily;
        width: 30rem;
        font-size: 15px;
        line-height: 35px;

        @include xxs {
          width: 250px;
          font-size: 11px;
          line-height: 22.7px;
          text-align: center;
        }
        @include xs {
          width: 340px;
          line-height: 26px;
          font-size: 14px;
        }
        @include sm {
          width: 365px;
          font-size: 15px;
        }
        @include md {
          width: 445px;
          font-size: 16px;
          line-height: 28px;
        }
        @include lg {
          width: 440px;
          font-size: 18px;
          line-height: 33px;
          text-align: start;
        }
        @include xxl {
          font-family: $fontfamily;
          width: 33rem;
          font-size: 20px;
          line-height: 35px;
        }
      }
      .btn {
        @include xxs {
          margin-top: 1rem;
          width: 200px;
        }
        @include xs {
          width: 300px;
        }
        @include sm {
          width: 400px;
        }
        @include lg {
          margin-top: 0;
          margin-bottom: 10px;
        }

        .Link {
          padding: 10px 10rem;
          text-decoration: none;
          color: $textcolor;
          background-color: $textcolor2;
          border-radius: 10px;
          font-size: 25px;
          font-weight: 700;
          font-family: $fontfamily;

          @include xxs {
            font-size: 13px;
            padding: 10px 33px;
          }
          @include xs {
            font-size: 15px;
            padding: 10px 83px;
          }
          @include sm {
            font-size: 18px;
            padding: 10px 120px;
          }
        }
      }
    }
  }
}
