@import "../scss/Breakpoints.scss";
//Defined variables
$bgcolor: #1e1e1e;
$textcolor: #d9d9d9;
$textcolor2: rgba(138, 0, 0, 1);
$fontfamily: "Inter";

section {
  background-color: $bgcolor;
  height: 36.4rem;
  color: $textcolor;
  display: flex;
  flex-direction: row;

  // Media query
  @include breakpoint(xxs) {
    flex-direction: column-reverse;
    height: 31.5rem;
    padding: 12px 0;
    overflow: hidden;
  }
  @include breakpoint(mxs) {
    flex-direction: column-reverse;
    height: 32.5rem;
    padding: 12px 0;
    overflow: hidden;
  }
  @include breakpoint(xs) {
    flex-direction: column-reverse;
    height: 31.5rem;
    padding: 12px 0;
    overflow: hidden;
  }
  @include breakpoint(sm) {
    height: 19.5rem;
    padding: 12px 0;
    overflow: hidden;
  }
  @include breakpoint(msm) {
    height: 20.5rem;
    padding: 12px 0;
    overflow: hidden;
  }

  .Details {
    display: flex;
    position: relative;
    top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    text-align: center;
    margin-left: 10rem;

    // Media query
    @include breakpoint(xxs) {
      width: 225px;
      margin-left: 3rem;
    }
    @include breakpoint(mxs) {
      width: 225px;
      margin-left: 8rem;
    }
    @include breakpoint(xs) {
      width: 225px;
      margin-left: 5rem;
    }
    @include breakpoint(sm) {
      width: 225px;
      margin-left: 5rem;
    }
    @include breakpoint(msm) {
      width: 225px;
      margin-left: 5rem;
    }

    //User Name
    h1 {
      font-family: $fontfamily;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      // Media query
      @include breakpoint(xxs) {
        font-size: 30px;
      }
      @include breakpoint(mxs) {
        font-size: 30px;
        text-align: center;
      }
      @include breakpoint(xs) {
        font-size: 30px;
        text-align: center;
      }
      @include breakpoint(sm) {
        font-size: 30px;
        text-align: center;
      }
      @include breakpoint(msm) {
        font-size: 30px;
        text-align: center;
      }
    }

    //Fullstack Dev
    h5 {
      color: $textcolor2;
      font-family: $fontfamily;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 210.8%;

      // Media query
      @include breakpoint(xxs) {
        font-size: 20px;
      }
      @include breakpoint(mxs) {
        font-size: 20px;
      }
      @include breakpoint(xs) {
        font-size: 20px;
      }
      @include breakpoint(sm) {
        font-size: 20px;
      }
      @include breakpoint(msm) {
        font-size: 20px;
      }
    }

    //Circles
    .Circles {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      // Media query
      @include breakpoint(xxs) {
        margin: 1px 0;
      }
      @include breakpoint(mxs) {
        margin: 1px 0;
      }
      @include breakpoint(xs) {
        margin: 1px 0;
      }
      @include breakpoint(sm) {
        margin: 1px 0;
      }
      @include breakpoint(msm) {
        margin: 1px 0;
      }

      .Circle {
        margin: 0 10px;
        padding: 10px;
        border-radius: 50%;
        background-color: $textcolor;

        // Media query
        @include breakpoint(xxs) {
          padding: 5px;
          margin: 0 5px;
        }
        @include breakpoint(mxs) {
          padding: 5px;
          margin: 0 5px;
        }
        @include breakpoint(xs) {
          padding: 5px;
          margin: 0 5px;
        }
        @include breakpoint(sm) {
          padding: 5px;
          margin: 0 5px;
        }
        @include breakpoint(msm) {
          padding: 5px;
          margin: 0 5px;
        }

        svg {
          // Media query
          @include breakpoint(xxs) {
            width: 30px;
            height: 30px;
          }
          @include breakpoint(mxs) {
            width: 30px;
            height: 30px;
          }
          @include breakpoint(xs) {
            width: 30px;
            height: 30px;
          }
          @include breakpoint(sm) {
            width: 30px;
            height: 30px;
          }
          @include breakpoint(msm) {
            width: 30px;
            height: 30px;
          }
        }

        .Bootstrap {
          margin: 6px 0;

          // Media query
          @include breakpoint(xxs) {
            margin: 0.9px 1px;
          }
          @include breakpoint(mxs) {
            margin: 0.9px 1px;
          }
          @include breakpoint(xs) {
            margin: 0.9px 1px;
          }
          @include breakpoint(sm) {
            margin: 0.9px 1px;
          }
          @include breakpoint(msm) {
            margin: 0.9px 1px;
          }
        }
      }
    }
    //btn
    .btn {
      margin: 3rem;
      // Media query
      @include breakpoint(xxs) {
        margin: 1rem 0;
        margin-bottom: 2rem;
      }
      @include breakpoint(mxs) {
        margin: 1rem 0;
        margin-bottom: 2rem;
      }
      @include breakpoint(xs) {
        margin: 1rem 0;
        margin-bottom: 2rem;
      }
      @include breakpoint(sm) {
        margin: 1rem 0;
        margin-bottom: 2rem;
      }
      @include breakpoint(msm) {
        margin: 1rem 0;
        margin-bottom: 2rem;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        color: $textcolor2;
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 210.8%; /* 84.32px */
        border: 2px solid $textcolor2;
        padding: 5px 50px;
        border-radius: 20px;

        // Media query
        @include breakpoint(xxs) {
          font-size: 20px;
        }
        @include breakpoint(mxs) {
          font-size: 20px;
        }
        @include breakpoint(xs) {
          font-size: 20px;
        }
        @include breakpoint(sm) {
          font-size: 20px;
        }
        @include breakpoint(msm) {
          font-size: 20px;
        }
      }

      a:hover {
        transition: all 0.3s ease-in-out;
        border: 2px solid $textcolor2;
        background-color: $textcolor2;
        color: $textcolor;
      }
    }
  }

  // Profile Picture
  .Picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;

    // Media query
    @include breakpoint(xxs) {
      justify-content: start;
      margin-left: 4rem;
    }
    @include breakpoint(mxs) {
      justify-content: start;
      margin-left: 9rem;
    }
    @include breakpoint(xs) {
      justify-content: start;
      margin-left: 6rem;
    }
    @include breakpoint(sm) {
      justify-content: center;
      align-items: center;
    }
    @include breakpoint(msm) {
      justify-content: center;
      align-items: center;
    }

    .Circle2 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 30rem;
      height: 30rem;
      border: 13px solid $textcolor;
      border-radius: 50%;

      // Media query
      @include breakpoint(xxs) {
        justify-content: start;
        right: -1rem;
        width: 11rem;
        height: 11rem;
        border: 7px solid $textcolor;
      }
      @include breakpoint(mxs) {
        justify-content: start;
        top: 11px;
        right: 1rem;
        width: 14rem;
        height: 14rem;
        border: 7px solid $textcolor;
      }
      @include breakpoint(xs) {
        justify-content: start;
        top: 11px;
        right: 0rem;
        width: 13rem;
        height: 13rem;
        border: 8px solid $textcolor;
      }
      @include breakpoint(sm) {
        justify-content: start;
        right: -0.5rem;
        width: 13rem;
        height: 13rem;
        border: 6px solid #d9d9d9;
      }
      @include breakpoint(msm) {
        justify-content: start;
        right: -0.5rem;
        width: 18rem;
        height: 18rem;
        border: 6px solid #d9d9d9;
      }

      img {
        position: relative;
        top: -25px;
        width: 300px;
        height: 500px;
        border-radius: 10% 10% 45% 46%;

        // Media query
        @include breakpoint(xxs) {
          top: -18px;
          right: -19px;
          width: 123px;
          height: 195px;
        }
        @include breakpoint(mxs) {
          top: -13px;
          right: -33px;
          width: 141px;
          height: 225px;
        }
        @include breakpoint(xs) {
          top: -16px;
          right: -29px;
          width: 140px;
          height: 215px;
        }
        @include breakpoint(sm) {
          top: -27px;
          right: -24px;
          width: 150px;
          height: 245px;
        }
        @include breakpoint(msm) {
          top: -13px;
          right: -45px;
          width: 190px;
          height: 300px;
        }
      }
    }
  }
}
