@import "../scss/Breakpoints2.scss";
//Defined variables
$bgcolor: #1e1e1e;
$textcolor: #d9d9d9;
$textcolor2: rgba(138, 0, 0, 1);
$fontfamily: "Inter";

#Services {
  background-color: $bgcolor;
  height: max-content;

  @include xxs {
    padding: 4rem 0;
    height: 134rem;
  }
  @include md {
    height: 84.5rem;
  }
  @include lg {
    height: 77rem;
  }
  @include xxl {
    padding: 6rem 0;
    height: 53rem;
  }


  .Container {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include xxs {
      flex-direction: column-reverse;
    }
    @include xxl {
      flex-direction: row;
    }

    .Boxes {
      // border: 2px solid red;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(2, 1fr);
      text-align: center;
      margin: 40px 0;

      @include xxs {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(3, 1fr);
      }
      @include md {
        grid-template-columns: repeat(2, 235px);
        grid-template-rows: repeat(3, 1fr);
      }
      @include lg {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 1fr);
      }
      @include xxl {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 1fr);
      }

      .Box {
        // border: 2px solid red;
        background-color: $textcolor;
        max-height: 400px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 20px;

        .Round {
          position: absolute;
          border: 10px solid $bgcolor;
          border-radius: 50%;
          background-color: $textcolor;
          width: 90px;
          height: 90px;
          top: -43px;
          right: 95px;

          @include md {
            right: 65px;
          }
          @include lg {
            right: 120px;
          }
          @include xxl {
            right: 95px;
          }

          .Prog-Lang {
            position: relative;
            top: 9px;
          }
          #Bootstrap {
            position: relative;
            top: 15px;
          }
          #CSS,
          #HTML {
            position: relative;
            top: 12px;
          }
          #SCSS {
            position: relative;
            top: -1px;
            right: 3px;
            width: 50px;
          }
        }

        .Details {
          margin: 50px 20px;

          h1 {
            font-family: $fontfamily;
            font-size: 30px;
            font-weight: 800;
          }

          p {
            font-family: $fontfamily;
            font-size: small;
          }
        }
      }
    }

    .Title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: $textcolor;

      h1 {
        font-family: $fontfamily;
        font-weight: 800;
        font-size: 50px;
      }
      hr {
        border: 2px solid $textcolor2;
        width: 130px;
        opacity: 100%;
        margin: 0;
      }
      
      .btns {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include xxs {
          flex-direction: row;
        }
        @include xxl {
          flex-direction: column;
        }

        .Links{
            padding: 10px;
            border: 2px solid $textcolor2;
            margin: 20px;
            text-decoration: none;
            border-radius: 20px;
            color: $textcolor;
            background-color: $textcolor2;
            font-family: $fontfamily;
            font-size: 20px;
            font-weight: 700;

            &:hover{
                box-shadow: 1px -1px 20px 4px $textcolor2;
            }
        }
      }
    }
  }
}
